[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
passlib = "*"
"argon2-cffi" = "*"
sendgrid = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.7"
