
{% extends 'base.html' %}

{% block title %}
    {{ user.name }}'s Dashboard
{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Hi, {{ user.name }}.</h1><br><br>
        <div class="btn-group">
            <a href="{{ url_for('create_location_view') }}" 
                class="btn btn-success btn-lg" role="button">+ Location</a>
            <a href="{{ url_for('create_route_view') }}" 
                class="btn btn-primary btn-lg" role="button">+ Route</a>
        </div>
    </div>

    {% from "includes/_form_helpers.html" import render_field %}

    {% for location in locations %}

        <div class="jumbotron text-center">

            <form action="{{ url_for('delete_location_view', id=location.id) }}" method="POST">

                {{ form.csrf_token }}

                <h1>{{ location.name }}</h1>

                <br>

                <p class="lead">
                    <h2>{{ location.forecast.day_0_weather }}</h2>
                    <i class="wi {{ location.forecast.day_0_icon }}"></i>
                    <p class="lead">
                        {{ location.forecast.day_0_summary }}
                    </p>
                </p>

                <br>

                <div class="btn-group">

                    <a href="{{ url_for('update_location_view', id=location.id) }}" 
                        class="btn btn-primary" role="button">Update</a>

                    {{ form.submit(class_="btn btn-danger", value="Remove") }}

                </div>

            </form>

        </div>

    {% endfor %}

    {% for route in routes %}

        <div class="jumbotron text-center">
            <form action="{{ url_for('delete_route_view', id=route.id) }}" method="POST">
                {{ form.csrf_token }}
                <h1>{{ route.name }}</h1><br>
                <p class="lead">
                    {{ route.time }}
                </p><br>
                <div class="btn-group">
                    <a href="{{ url_for('update_route_view', id=route.id) }}" 
                        class="btn btn-primary" role="button">Update</a>
                    {{ form.submit(class_="btn btn-danger", value="Remove") }}
                </div>
            </form>
        </div>

    {% endfor %}

{% endblock %}
