
{% extends 'base.html' %}

{% block title %}
    {{ user.name }}'s Dashboard
{% endblock %}

{% block body %}

    <div class="jumbotron text-center">

        <h1>Hi, {{ user.name }}.</h1>

        <br><br>
        <div>
            <img src="{{ url_for('static', filename='icons/weather/clear-day.png') }}">
        </div>
        <br><br><br>

        <div class="btn-group">
            <a href="{{ url_for('create_location_view') }}" 
                class="btn btn-success btn-lg" role="button">+ Location</a>
            <a href="{{ url_for('create_route_view') }}" 
                class="btn btn-primary btn-lg" role="button">+ Route</a>
        </div>

    </div>

    {% from "includes/_form_helpers.html" import render_field %}

    {% for location in locations %}

        <div class="jumbotron text-center">

            <form action="{{ url_for('delete_location_view', id=location.id) }}" method="POST">

                {{ form.csrf_token }}

                <h1>{{ location.name }}</h1>

                {% if location.forecast %}

                    <br><br>
                    <div>
                        <img src="/static/icons/weather/{{ location.forecast.day_0_icon }}.png">
                    </div>
                    <br><br>

                    <p class="lead">
                        {{ location.forecast.day_0_summary }}
                    </p>

                    <br>

                    <p class="lead">
                        {{ location.forecast.day_0_recommendation }}
                    </p>

                    <br><br>

                {% else %}

                    <br>
                    <p>The weather for this location could not be found. Ride carefully!</p>
                    <br>

                {% endif %}

                <div class="btn-group">

                    <a href="{{ url_for('update_location_view', id=location.id) }}" 
                        class="btn btn-primary" role="button">Update</a>

                    {{ form.submit(class_="btn btn-danger", value="Remove") }}

                </div>

            </form>

        </div>

    {% endfor %}

    {% for route in routes %}

        <div class="jumbotron text-center">
            <form action="{{ url_for('delete_route_view', id=route.id) }}" method="POST">
                {{ form.csrf_token }}
                <h1>{{ route.name }}</h1><br>
                <p class="lead">
                    {{ route.time }}
                </p><br>
                <div class="btn-group">
                    <a href="{{ url_for('update_route_view', id=route.id) }}" 
                        class="btn btn-primary" role="button">Update</a>
                    {{ form.submit(class_="btn btn-danger", value="Remove") }}
                </div>
            </form>
        </div>

    {% endfor %}

{% endblock %}
