
{% extends 'base.html' %}

{% block title %}
    All Users
{% endblock %}

{% block body %}

    <div class="jumbotron text-center">

        <h1>Users</h1><br>

            {% if users %}
                <ul class="list-group">
                    {% for u in users %}
                        <li class="list-group-item">
                            {{ u['first_name'] }} {{ u['last_name'] }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="lead">There are no users in the database :(</p>
            {% endif %}
            
    </div>

{% endblock %}
