
{% extends 'base.html' %}

{% block title %}
    {{ user.name }}'s Dashboard
{% endblock %}

{% block body %}

    <!-- Greeting div -->
    <div class="jumbotron text-center">

        <h1>Hi, {{ user.name }}.</h1>

        <br><br>

        <img src="{{ url_for('static', filename='icons/weather/clear-day.png') }}">

        <br><br>
        <br><br>

        <a href="{{ url_for('location_create_view') }}" 
            class="btn btn-primary btn-lg" role="button">+ Location</a>

    </div>

    <!-- Dynamic content for user's locations -->
    {% for location in locations %}
        <div class="jumbotron text-center">
            <h1>{{ location.name }}</h1>
            <br>
            {% if location.forecast %}
                <div id="location_carousel_{{ location.id }}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h5 style="font-weight: bold; margin-bottom: 20px;">Today</h5>
                            <br><img src="/static/icons/weather/{{ location.forecast.day_0_icon }}.png"><br><br>
                            <p class="lead">{{ location.forecast.day_0_summary }}</p>
                            <p class="lead">{{ location.forecast.day_0_recommendation }}</p>
                        </div>
                        <div class="carousel-item">
                            <h5 style="font-weight: bold; margin-bottom: 20px;">Tomorrow</h5>
                            <br><img src="/static/icons/weather/{{ location.forecast.day_1_icon }}.png"><br><br>
                            <p class="lead">{{ location.forecast.day_1_summary }}</p>
                            <p class="lead">{{ location.forecast.day_1_recommendation }}</p>
                        </div>
                        <div class="carousel-item">
                            <h5 style="font-weight: bold; margin-bottom: 20px;">{{ day_2 }}</h5>
                            <br><img src="/static/icons/weather/{{ location.forecast.day_2_icon }}.png"><br><br>
                            <p class="lead">{{ location.forecast.day_2_summary }}</p>
                            <p class="lead">{{ location.forecast.day_2_recommendation }}</p>
                        </div>
                        <div class="carousel-item">
                            <h5 style="font-weight: bold; margin-bottom: 20px;">{{ day_3 }}</h5>
                            <br><img src="/static/icons/weather/{{ location.forecast.day_3_icon }}.png"><br><br>
                            <p class="lead">{{ location.forecast.day_3_summary }}</p>
                            <p class="lead">{{ location.forecast.day_3_recommendation }}</p>
                        </div>
                        <div class="carousel-item">
                            <h5 style="font-weight: bold; margin-bottom: 20px;">{{ day_4 }}</h5>
                            <br><img src="/static/icons/weather/{{ location.forecast.day_4_icon }}.png"><br><br>
                            <p class="lead">{{ location.forecast.day_4_summary }}</p>
                            <p class="lead">{{ location.forecast.day_4_recommendation }}</p>
                        </div>
                        <div class="carousel-item">
                            <h5 style="font-weight: bold; margin-bottom: 20px;">{{ day_5 }}</h5>
                            <br><img src="/static/icons/weather/{{ location.forecast.day_5_icon }}.png"><br><br>
                            <p class="lead">{{ location.forecast.day_5_summary }}</p>
                            <p class="lead">{{ location.forecast.day_5_recommendation }}</p>
                        </div>
                        <div class="carousel-item">
                            <h5 style="font-weight: bold; margin-bottom: 20px;">{{ day_6 }}</h5>
                            <br><img src="/static/icons/weather/{{ location.forecast.day_6_icon }}.png"><br><br>
                            <p class="lead">{{ location.forecast.day_6_summary }}</p>
                            <p class="lead">{{ location.forecast.day_6_recommendation }}</p>
                        </div>
                        <div class="carousel-item">
                            <h5 style="font-weight: bold; margin-bottom: 20px;">Next {{ day_7 }}</h5>
                            <br><img src="/static/icons/weather/{{ location.forecast.day_7_icon }}.png"><br><br>
                            <p class="lead">{{ location.forecast.day_7_summary }}</p>
                            <p class="lead">{{ location.forecast.day_7_recommendation }}</p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#location_carousel_{{ location.id }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" style="color: black;"></span>
                    </a>
                    <a class="carousel-control-next" href="#location_carousel_{{ location.id }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" style="color: black;"></span>
                    </a>
                </div>
            {% else %}
                <p>The weather for this location could not be loaded.</p>
            {% endif %}
            <br>
            <form action="{{ url_for('location_delete_view', id=location.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="btn-group">
                    <a href="{{ url_for('location_update_view', id=location.id) }}" 
                        class="btn btn-primary" role="button">Update</a>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    {% endfor %}

{% endblock %}
