
{% extends 'base.html' %}

{% block title %}
    {{ user.name }}'s Routes
{% endblock %}

{% block body %}

    <!-- Greeting div -->
    <div class="jumbotron text-center">

        <h1>Hi, {{ user.name }}.</h1>

        <br><br>

        <img src="{{ url_for('static', filename='icons/weather/clear-day.png') }}">

        <br><br>
        <br><br>

        <a href="{{ url_for('route_create_view') }}" 
            class="btn btn-primary btn-lg" role="button">+ Route</a>

    </div>

    {% for route in routes %}

        <div class="jumbotron text-center">
            <h2>{{ route.name }}</h2>
            <br><br>
            <form action="{{ url_for('route_delete_view', id=route.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="btn-group">
                    <a href="{{ url_for('route_update_view', id=route.id) }}" 
                        class="btn btn-primary" role="button">Update</a>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>

    {% endfor %}

{% endblock %}
